<% include partials/header.ejs %>
<h1>Add new Campground</h1>

<form action="/campgrounds" method="post">
  <input type="text" name="name" placeholder="Enter the name">
  <input type="text" name="image" placeholder="Enter the image url">
  <button type="submit" name="button">submit</button>
</form>
<a href="/campgrounds">Go Back</a>
<% include partials/footer.ejs %>
